#about-header {
    padding-bottom: 18px;
}

#about-image {
    content: url("../images/photo_collage_web.png");
}

.about-subtitle {
    padding: 8px 0 4px;
}

.about-body {
    padding-bottom: 18px;
}

/* Change Image for Tablets and Mobile Phones */
@media screen and (max-width: 991px) {
    #about-header {
        padding-top: 8px;
    }

    #about-image {
        content: url("../images/photo_collage_tablet.png");
    }
}

@media screen and (max-width: 575px) {
    #about-image {
        content: url("../images/photo_mobile.png");
    }
}