#footer-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 64px;

    border-top: 2px solid #19D3F1;
}

#footer-copyright {
    font-family: "Dosis", sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: white;

    padding-right: 24px;
}

/* Change Stylings/Size for Mobile Phones */
@media screen and (max-width: 767px) {
    #footer-container {
        height: 42px;
    }

    #footer-copyright {
        font-size: 12px;
    }
}