#home {
    height: 100vh;
    position: relative;
}

#home-background {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#home-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}

#home-text {
    font-family: "Dosis", sans-serif;
    padding-top: 20vh;
    color: white;
    text-align: center;
}

#home-name {
    font-size: 2em;
    font-weight: 200;
    letter-spacing: 0.25em;
    padding-bottom: 3.5em;
}

#home-role {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0.5em;
    letter-spacing: 0.0625em;
}

#home-job {
    font-weight: 500;
    padding: 0 0.125em;
}

#home-education {
    font-weight: 200;
    padding: 0 0.125em;
}