#home {
    height: calc(100vh - 4rem); /* default */
    height: calc((var(--vh, 1vh) * 100) - 4rem); /* taken from CSS-tricks to help with mobile full height */
    position: relative;
}

#home-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}

#home-text {
    font-family: "Dosis", sans-serif;
    padding-top: 16vh;
    color: white;
    text-align: center;
}

#home-name {
    font-size: 6rem; /* 6 */
    font-weight: 200;
    letter-spacing: 0.25rem;
    padding-bottom: 8vh;
}

#home-role {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.125rem; /* 1.125 */
    letter-spacing: 0.0625rem;
}

#home-job {
    font-weight: 500;
    padding: 0 0.125rem;
}

#home-education {
    font-weight: 200;
    padding: 0 0.125rem;
}