#home {
    height: calc(100vh - 4rem);
    position: relative;
}

#home-background {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#home-content {
    position: relative;
    height: 100%;
    background: rgba(0,0,0,0.8);
}

#home-text {
    font-family: "Dosis", sans-serif;
    padding-top: 20vh;
    color: white;
    text-align: center;
}

#home-name {
    font-size: 6rem;
    font-weight: 200;
    letter-spacing: 0.25rem;
    padding-bottom: 3.5rem;
}

#home-role {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.125rem;
    letter-spacing: 0.0625rem;
}

#home-job {
    font-weight: 500;
    padding: 0 0.125rem;
}

#home-education {
    font-weight: 200;
    padding: 0 0.125rem;
}