/* transition time */
.navbar-brand,
.navbar-brand-hover,
.nav-link,
.nav-item {
    transition: 0.5s;
}

/* navigation bar components */
.navbar-brand {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 8px 0;
}

.navbar-brand:hover,
.navbar-brand-hover {
    opacity: 0;
}

.navbar-brand-hover {
    position: absolute;
}

.navbar-brand-hover:hover {
    opacity: 1;
}

#navbar-container {
    height: 64px;
    width: 100%;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;

    background: #24454D;
    border-bottom: 2px solid #19D3F1;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.navbar-collapse,
.navbar-nav {
    height: 100%;
}

#navbar-resume-container {
    background: #1093A7;
}

#navbar-resume:hover {
    color: #24454D !important;
}

.navbar-toggler {
    margin-right: 16px;
}

/* individual navigation components */
.nav-link {
    height: 100%;
    display: flex;
    align-items: center;

    font-family: "Dosis", sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: white !important;
    padding: 0 24px !important;
}

.nav-link:hover {
    color: #19D3F1 !important;
}

.nav-item.active {
    background: #19D3F1;
}

.nav-item.active .nav-link {
    color: #24454D !important;
}

/* Change Stylings/Size for Mobile Phones */
@media screen and (max-width: 767px) {
    .navbar-brand {
        padding: 4px 0;
    }

    #navbar-container {
        height: 42px;
    }

    .nav-link {
        font-size: 12px;
    }
}