.section-container {
    padding: 48px 0 36px;
}

.section-header {
    padding-bottom: 40px;
    text-align: center;
}

.section-image {
    transition: 0.5s;
}

.section-image:hover {
    transform: translate(5px, -5px);
    box-shadow: -6px 6px 4px #212529;
}

.section-projectContainer {
    padding-bottom: 20px;
}

.section-projectContainer:last-child {
    padding-bottom: 0;
}

.section-projectTitle {
    padding: 8px 0 12px;
}

/* Change Stylings/Size for Tablets and Mobile Phones */
@media screen and (max-width: 991px) {
    .section-projectContainer {
        padding-bottom: 40px;
    }
}